
.single-service img{
    display: inline;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}
@media only screen and (max-width: 688px) {
    .single-service{
        display: block;
        margin: 0%;
        padding: 0%;
    }
    .single-service img{
        display: inline;
        margin-top: 30px;
        width: 100%;
        height: 300px;
    }
}